body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 165, 0);
    margin: 0px;
    background-color: black;
}


.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;

}

.round {
    text-align: center;
    font-size: 32px;
}

.heading {
    margin-top: 10px;
}

.heading {
    text-align: center;
    font-size: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
}

button {
    border-radius: 8px;
    min-width: 110px;
    height: 50px;
    font-size: 24px;
}



.footer {
    text-align: center;
    margin-bottom: 10px;
}